<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button class="nav-button" (click)="selectLocation()">
      {{ currentLocation }}
      <ion-icon name="ios-arrow-down" class="text-md"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="goToBookmarks()">
        <ion-icon name="bookmark"></ion-icon>
      </button>
      <button ion-button (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class=" common-bg">

  <!-- Slider -->
  <ion-slides pager class="pager-inner" *ngIf="popularPlaces != undefined && popularPlaces.length != 0">
    <ion-slide *ngFor="let slide of slideImages(popularPlaces)">
      <img src="{{ slide }}" alt="">
    </ion-slide>
  </ion-slides>
  {{env.mode}}
  <div padding>
    <!-- Nearby button -->
    <ion-item padding color="light" class="no-border" (click)="goToNearBy()">
      <ion-icon name="pin"></ion-icon>
      Nas proximidades
      <ion-icon name="arrow-forward" color="secondary" class="pull-right"></ion-icon>
    </ion-item>

    <!-- Categories -->
    <div text-center margin-top margin-bottom class="secondary">
      Aqui estão 6 maneiras de pensar na sua próxima refeição
    </div>

    <ion-grid class="grid-no-padding">
      <ion-row>
        <ion-col *ngFor="let category of limitCategory(collections)">
          <ion-item class="no-border" (click)="viewPlaces(category.id)">{{category.name}}</ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- All places -->
    <ion-item class="margin-top no-border light-bg" (click)="goToNearBy()">
      <ion-icon name="pin"></ion-icon>
      Todos os lugares em {{ currentLocation }}
      <ion-icon name="arrow-forward" color="secondary" class="pull-right"></ion-icon>
    </ion-item>
  </div>

  <!-- Popular -->
  <div text-center class="secondary margin-top margin-bottom" *ngIf="popularPlaces != undefined && popularPlaces.length != 0">
    Popular nas proximidades
  </div>
  <div class="light-bg card" margin-bottom>
    <ion-grid>
      <ion-row wrap *ngIf="popularPlaces != undefined && popularPlaces.length != 0">
        <ion-col class="rlt" col-4 *ngFor="let place of limitPlace(popularPlaces)" (click)="viewPlace(place.id)">
          <img class="round" [src]="env.url + 'storage/app/public/image/w_328,h_166/' + place.images[0].file"
            alt="">
          <div class="item-rating">{{ place.rating }}</div>
          <div class="text-md strong">{{ place.name }}</div>
          <div class="text-sm secondary">{{ place.district }}</div>
          <div class="text-sm secondary">{{ place.cuisines }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="popularPlaces != undefined && popularPlaces.length != 0" class="block-footer" padding text-right
      (click)="viewPlaces()">
      <span ion-text color="primary">Ver mais ></span>
    </div>
  </div>
</ion-content>
